In [13]:
a = 500
shirt_price=200
pant_price=500
coat_price=800
if coat_price <=a:
    print("i will be able to buy coat")
elif pant_price<500:
    print("will but pant")
elif shirt_price<500:
    print("i will buy shirt")
else:
    print("i wont be able to buy")

i will buy shirt

In [12]:
price<=500

False

In [18]:
a = 500
shirt_price=200
pant_price=500
coat_price=800
my_size='M'
size_store=['L','XL','XXL','XXXL','M']
my_fav_clr='White'
store_clr=['re','blue','pink','orange']
if coat_price <=a:
    print("i will be able to buy coat")
elif pant_price<500:
    print("will but pant")
elif shirt_price<500:
    print("i is uner my buget")
    if my_size in size_store:
        if my_fav_clr in store_clr:
            print("yes i will try to choose it")
        else:
            print("my fav color is not avaialble .will move to next store")
    else:
        print("my size not avaialble")
else:
    print("i wont be able to buy")

i is uner my buget
my fav color is not avaialble .will move to next store

In [19]:
course=['FSM','FSA','JAVA','BIG FATA','FA']
price=20000
mentor='sufanshu kumar'

if 'FSM' in course and price==20000 and "sufanshu kumar"==mentor:
    print("i am oing thsi course")

i am oing thsi course

In [21]:
user_name="sudh"
password="sudh@1234"
if user_name==input("enter your user name") and password== input("enter your password") :
    print("you have logge in coorectly")
else:
    print("enter correct user name and password")

enter your user namejat
enter correct user name and password

In [22]:
mobile_no=123456
otp=1234
if mobile_no==int(input("enter your registere mobile number")):
    print("you are registere user")
    if otp ==int(input("enter your otp")):
        print("you have logge into successfully")
    else :
        print("otp is not correct")
else:
    print("mobile number is not correct")

enter your registere mobile number123456
you are registere user
enter your otpy6

ValueError: invalid literal for int() with base 10: 'y6'

In [23]:
l=[12,3,3,4,5,6,6]
for i in l :
    print(i)

12
3
3
4
5
6
6

In [28]:
j=1,2,35,4,5,6
range(j)

TypeError: 'tuple' object cannot be interpreted as an integer

In [31]:
mobile_no=[2342323,3543442,5433433,23432,34564554,3454545]
l=[2,2,3,4,5,6,6]
stud_mo=23432
stud_details={'mobile_no':23432,'course':['dsa','dsm','big data']}

for i in mobile_no:
    print(i)
    if i==stud_mo:
        print("user is registere")
        if i==stud_details['mobile_no']:
            print("yes stuent details are avaialble in db")
            print("course access to this user is ",stud_details['course'])

2342323
3543442
5433433
23432
user is registere
yes stuent details are avaialble in db
course access to this user is  ['dsa', 'dsm', 'big data']
34564554
3454545

In [39]:
t=(12,3,4,5,56,"sudh","kumar")
l_int=[]
l_str=[]
for i in t:
    if type(i)==str :
        l_str.append(i) 
    elif type(i)==int:
        l_int.append(i)
print(l_int)
print(l_str)

[12, 3, 4, 5, 56]
['sudh', 'kumar']

In [40]:
s={3,4,5,56,76,7,7,8,8}
for i in s:
    print(i)

3
4
5
7
8
56
76

In [42]:
d={'name':'sudh','class':['big data',"data anlytics",'dsa','data science'],'mobile_no':345677888,'email_id':'saeetft@gmail.com'}

In [43]:
d

{'name': 'sudh',
 'class': ['big data', 'data anlytics', 'dsa', 'data science'],
 'mobile_no': 345677888,
 'email_id': 'saeetft@gmail.com'}

In [46]:
for i in d.values():
    if type(i)==list:
        if "dsa" in i:
            print("yes this mentor teach dsa")
    print(i)

sudh
yes this mentor teach dsa
['big data', 'data anlytics', 'dsa', 'data science']
345677888
saeetft@gmail.com

In [47]:
def test1():
    print("test")

In [48]:
test1()

test

In [49]:
def test3():
    return 1+2

In [50]:
test3()

3

In [51]:
test3()+10

13

In [52]:
def test4():
    return 2,"sudh",True,[1,2,3,4,5]

In [54]:
test4()

(2, 'sudh', True, [1, 2, 3, 4, 5])

In [55]:
type(test4())

tuple

In [56]:
m,n,o,p=test4()

In [57]:
m

2

In [58]:
n

'sudh'

In [59]:
o

True

In [60]:
p

[1, 2, 3, 4, 5]

In [61]:
q

NameError: name 'q' is not defined

In [62]:
def test9(c,d):
    """this is the function which can take two input"""
    return c+d

In [63]:
test9(5,6)

11

In [64]:
def test10(*args):
    return args

In [65]:
test10(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [66]:
def test11(*sudh):
    return sudh

In [67]:
test11(3,4,56,6)

(3, 4, 56, 6)

In [69]:
def test12(**kwargs):
    return kwargs

In [72]:
test12(a=1,b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [74]:
def test14(b,a=20,c=30):
    return a,b,c

In [75]:
test14(60)

(20, 60, 30)

In [76]:
## Lamda Function

In [77]:
m=lambda a,b:a+b

In [78]:
m

In [79]:
m(10,23)

33

In [83]:
def check_even(n):
    if n%2==0 :
        return "given number is even"
    else:
        return "number is odd"

In [84]:
check_even(3)

'number is odd'

In [88]:
b=lambda n:"given number is even" if n%2==0 else "given number is odd"

In [89]:
b(4)

'given number is even'

In [90]:
b(5)

'given number is odd'

In [91]:
l=[3,4,5,76,3,2,3,4,5]

In [92]:
i(min_list =lambda li:min(li)

In [93]:
min_list(l)

2

In [94]:
div =lambda a,b : a/b

In [95]:
div(5,6)

0.8333333333333334

In [96]:
upper=lambda s:s.upper()

In [98]:
upper('jatin')

'JATIN'

In [104]:
l=[3,4,5,76,3,2,3,4,5]
def sum_odd(b):
    l1= []
    for i in b:
        if i%2!=0:
            l1.append(i)
    return sum(l1)

In [107]:
sum_odd(l)

19

In [110]:
sum_off_lambda = lambda b:sum([i for i in b if i%2!=0])

In [111]:
sum_off_lambda(l)

19

In [115]:
def fact_number(n):
    if n==0:
        return 1
    else : return n*fact_number(n-1)

In [118]:
fact_number(19)

121645100408832000

In [120]:
def fact_num(n):
    a=1
    for i in range(a,n+1):
        a=i*a
    return a

In [121]:
fact_num(4)

24

In [122]:
l=[4,5,6,7,8,89]
l1=[]
for i in l:
    l1.append(i+2)

In [123]:
l1

[6, 7, 8, 9, 10, 91]

In [126]:
def test34(c):
    return c+2

In [127]:
list(map(test34,l))

[6, 7, 8, 9, 10, 91]

In [129]:
l=[2,3,4,5,6,6]
from functools import reduce

In [131]:
reduce(lambda a,b:a*b,l)

26

In [132]:
l

[2, 3, 4, 5, 6, 6]

In [133]:
min(l)

2

In [134]:
max(l)

6

In [135]:
reduce(lambda a,b:a if a>b else b,l)

6

In [136]:
n=4
fact=reduce(lambda a,b :a*b,range(1,n+1))

In [137]:
fact

24

In [138]:
l

[2, 3, 4, 5, 6, 6]

In [145]:
l1=[]
def test14():
    for i in l:
        if i%2==0:
            l1.append
        return l1

In [146]:
test14()

[]

In [147]:
l

[2, 3, 4, 5, 6, 6]

In [148]:
s="Pw skills"

In [149]:
list(filter(lambda a:a.islower(),s))

['w', 's', 'k', 'i', 'l', 'l', 's']

In [150]:
l

[2, 3, 4, 5, 6, 6]

In [151]:
sq=['pw','pwskills','jat','suf']

In [156]:
list(filter(lambda a:a[0]=='p',sq))

['pw', 'pwskills']

In [157]:
a[0]

TypeError: 'int' object is not subscriptable

In [ ]:
def  gen_fib(n):